@import "styles/variables";

.footer {
    background: $dark;
    color: #ffffff;
    .copyright {
      height: 20vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}