@import 'variables';
@import 'reset';
@import 'forms';

@import './components/header';
@import './components/mobile-menu';
@import './components/footer';
@import './components/hero';
@import './components/experience';
@import './components/command-prompt';
@import './components/code-block';
@import './components/projects';

body.no-scroll {
  overflow: hidden;
}

.row {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .title {
    text-align: center;
    width: 100%;
    font-size: 36px;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .card {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $white;
    color: $dark;
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    @include media(tablet) {
      margin: 20px;
    }
  }
  &.alt {
    color: $white;
    background-color: $dark;
  }
}


.icon-link {
  color: #111;
  margin: 10px;
  margin-top: 20px;
  font-size: 32px;
  &:hover {
    cursor: pointer;
    color: #111;
  }
  &:vistied {
    color: #111;
  }
  &:active {
    color: #111;
  }
}

.icon-container {
  margin-top: 20px;
  &.alt {
    .icon-link {
      color: #fff;
      &:hover {
        color: #fff;
      }
      &:vistied {
        color: #fff;
      }
      &:active {
        color: #fff;
      }
    }
  }
}