@import "styles/variables";
@import "styles/mixins";

.contact {
    @include row;
    .title {
        @include title;
    }
    .inputContainer {
        @include input-container;
    }
    .message {
        margin-top: 1em;
        font-size: 1.2em;
    }
    .error {
        margin-top: 1em;
        font-size: 1.2em;
        color: $danger;
        font-weight: bold;
    }
}
